.calendar-date{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    color: rgba(0,0,0,0.65);
    line-height: 22px;
    text-align: center;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-transition: transparent .3s ease;
    transition: transparent .3s ease;
    background-color: white;
}
.calendar-date:hover{
    background: #e6f7ff;
    cursor: pointer;
}
.calendar-date-active{
    color: #fff !important;
    background: #1890ff;
    border: 1px solid transparent;
}
.calendar-date-active:hover{
    color: #fff;
    background: #1890ff;
    border: 1px solid transparent;
}
.calendar-date:active{
    color: #fff;
    background: #40a9ff;
}
.thisMonth{
    color: rgba(0,0,0,0.65);
}
.nextMonth{
    color: rgba(0,0,0,0.25);
}
.prevMonth{
    color: rgba(0,0,0,0.25);
}

.Calendar-content-wrapper{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 280px;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: absolute;
    z-index: 1050;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
.Calendar-header-choose{
    height: 35px;
    padding: 0px 6px;
    border-bottom: 1px solid #e8e8e8;
}
.Calendar-header-choose-input{
    width: 100%;
    height: 30px;
    color: rgba(0,0,0,0.65);
    background: #fff;
    border: 0;
    outline: 0;
    cursor: auto;
}
.Calendar-header-content{
    position: relative;
    height: 35px;
    line-height: 40px;
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Calendar-header-content span{
    position: absolute;
    top:15px;
    display: inline-block;
    color: rgba(0,0,0,0.45);
    font-size: 16px;
    cursor: pointer;
    font-family: Arial,'Hiragino Sans GB','Microsoft Yahei','Microsoft Sans Serif',sans-serif;
}
.content{
    cursor: default;
    display: inline-block;
}
.start{
    left: 7px;
    width: 16px;
    height: 16px;
    background: url("../image/start.png") no-repeat scroll center center transparent;
}
 .pre{
    left: 29px;
    width: 16px;
    height: 16px;
    background: url("../image/pre.png") no-repeat scroll center center transparent;
 }
 .next{
    right: 29px;
    width: 16px;
    height: 16px;
    background: url("../image/next.png") no-repeat scroll center center transparent;
}
.end{
    right: 7px;
    width: 16px;
    height: 16px;
    background: url("../image/end.png") no-repeat scroll center center transparent;
}
.Calendar-main{
    padding: 8px 20px;
}
.Calendar-main table{
    text-align: center;
    border: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}
.calendar-column-header {
    width: 33px;
    padding: 6px 0;
    line-height: 18px;
    text-align: center;
}
.Calendar-footer{
    padding: 0 12px;
    line-height: 38px;
    color: #1890ff;
    border-top: 1px solid #e8e8e8;
    text-align: center;
    cursor: pointer;
}
.Calendar-footer:hover{
    color: #40a9ff;
}

.show{
    text-align: center;
    display: block;
}

.hide{
    display: none;
}

.Calendar-input{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    display: inline-block;
    width: 165px;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
    background: url("../image/dataTime.png") no-repeat scroll right center transparent;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.Calendar-input-wrapper{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 280px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1050;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    list-style: none;
    background-color: #fff;
}